.logo-header {
  display: block;
  margin: 132px auto 0;
}

.password-box {
  margin: 40px auto;
  background: #ffffff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.19);
  border-radius: 4px;
  width: 544px;
  height: 330px;
}

.password-header {
  height: 49px;
  line-height: 49px;
  margin-bottom: 30px;
  border-bottom: solid 1px #979797;
}

.password-header p {
  margin: 0 35px;
  font-size: 18px;
  color: #333333;
}
.password-header p > span{
  font-size:14px;
  color:#666666;
}
.password-header p > a{
  float: right;
  font-size:14px;
  color:#666666;
  text-decoration: none;
}

form label {
  font-size: 16px;
  color: #333333;
  text-align: right;
  width: 159px;
  display: inline-block;
}

form input {
  padding: 5px 10px;
  background:#f5f5f5;
  border:1px solid #e0e0e0;
  border-radius:4px;
  width:218px;
  height:20px;
  line-height: 20px;
  font-size: 14px;
}
form input#graphic-code,
form input#message-code {
  width:98px;
}
form .code-cont {
  margin-left: 6px;
  display: inline-block;
  border-radius:4px;
  width:110px;
  height:32px;
  text-align: center;
  line-height: 32px;
  overflow: hidden;
  vertical-align: middle;
  font-size:14px;
  color:#ffffff;
  cursor: pointer;
}
form .code-cont.graphic-code {
  background:#c0c0c0;
}
form .code-cont.message-code {
  background:#378cbe;
}
form .code-cont.message-code.message-sent,
form .code-cont.message-code:hover {
  opacity:0.5;
  background:#378cbe;
}

.form-group {
  height: 30px;
  line-height: 30px;
  margin: 16px 0;
}

.submit-button {
  padding: 0;
  background: #3c8dbc;
  border-radius: 4px;
  font-size: 16px;
  color: #ffffff;
  margin: 15px 0 0 165px;
  border: none;
  width:140px;
  height:30px;
  line-height: 30px;
  cursor: pointer;
}

.note {
  font-size: 14px;
  color: #999999;
  letter-spacing: -0.35px;
  padding-left: 165px;
}

.error-message {
  font-size: 14px;
  color: #f92828;
  padding-left: 165px;
}

.reset-pop{
  /*display: none;*/
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0,0,0,0.5);
}
.reset-pop > .reset-pop-m{
  position: absolute;
  width: 300px;
  height: 200px;
  left: 50%;
  top: 50%;
  margin: -100px 0 0 -150px;
  background: #fff;
  border-radius: 4px;
}
.reset-pop-m > h4{
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  border-bottom: solid 2px #efefef;
}
.reset-pop-m > p{
  margin-top: 20px;
  text-align: center;
  line-height: 40px;
}
.reset-pop-m > p > span{
  color: #f00;
}
.reset-pop-m > p > a{
  display: inline-block;
  width: 80px;
  height: 30px;
  line-height: 30px;
  text-decoration: none;
  border: solid 2px #efefef;
  border-radius: 4px;
  color: #999;
}
